# Data Analysis and Exploration

In [1]:
# Importing the necessary Libraries for Data Analysis
import os
import gc
import random
import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from datetime import datetime

In [4]:
df = pd.read_csv("../../dataset/data.csv", sep=',', 
    names=['movie', 'user', 'rating', 'date'])
df.date = pd.to_datetime(df.date)

# We are arranging the ratings according to time-stamp(s)
print('Sorting the dataframe by Date')
df.sort_values(by='date', inplace=True)
print('Done')

Sorting the dataframe by Date
Done

In [5]:
df.head()

          movie    user  rating       date
56431994  10341  510180       4 1999-11-11
9056171    1798  510180       5 1999-11-11
58698779  10774  510180       3 1999-11-11
48101611   8651  510180       2 1999-11-11
81893208  14660  510180       2 1999-11-11

In [6]:
df.describe()['rating']

count    1.004805e+08
mean     3.604290e+00
min      1.000000e+00
25%      3.000000e+00
50%      4.000000e+00
75%      4.000000e+00
max      5.000000e+00
std      1.085219e+00
Name: rating, dtype: float64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100480507 entries, 56431994 to 25464092
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   movie   int64
 1   user    int64
 2   rating  int64
 3   date    datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 3.7 GB

In [10]:
# Checking on the nan files in the dataframe
print("Nan values in our dataframe: ", sum(df.isnull().any()))

Nan values in our dataframe:  0

In [11]:
# By considering all columns, including timestamp
dup_bool = df.duplicated(['movie','user','rating'])
dups = sum(dup_bool) 
print("There are {} duplicate rating entries in the data".format(dups))

There are 0 duplicate rating entries in the data

In [12]:
total_users = len(np.unique(df.user))
total_movies = len(np.unique(df.movie))

print("Total No of Ratings:", df.shape[0])
print("Total No of Users  :", total_users)
print("Total No of movies :", total_movies)

# Removing the original dataframe from RAM
del df
gc.collect()

Total No of Ratings: 100480507
Total No of Users  : 480189
Total No of movies : 17770

2876

##  Dataset preprocessing